.ai-image-generatort{
display: flex;
flex-direction: column;
margin: auto;
align-items: center;
margin-top: 30px;
margin-bottom: 30px;
gap: 30px;
}

.header {
    color:weight;
    font-weight: 800;
}
.header span{
    color:#DE1B89;
    font-weight: 800;
}

.img-loading{
    display: flex;
    flex-direction: column;
}
.img-loading img{
    width: 512px;
}


.search-box{
    display: flex;
    width: 600px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background:#1F3540;
   }

   .search-input{
    background:transparent;
    border:none;
    width:500px;
   }

   .generate-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    width:300px;
    border-radius:50px;
    background:#DE1B89;
    height: 70px;
    cursor:pointer;
   }

   .loading-bar{
    width:512px;
    height:8px;
    background:#DE1B89;
  }